body {
  background-color: #f5ebe0;
  font-family: monospace;
}
.title {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.project-input {
  padding: 20px;
  border: none;
  border-radius: 30px;
  width: 500px;
  font-size: 20px;
  box-shadow: 1px 1px 1px #ccc;
}
.todo-input {
  background-color: #e3d5ca;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 200px;
  font-size: 20px;
}
.project-input:focus {
  outline: none;
}
.todo-input:focus {
  outline: none;
}
#add-button {
  padding: 20px;
  border: none;
  border-radius: 40px;
  background-color: #a98467;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
#container {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-flow: wrap;
  gap: 20px;
}
#add-button-todo {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #a98467;
  font-size: 20px;
  color: white;
}
.projects-card {
  padding: 15px;
  width: 500px;
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #ccc;
}